.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:transparent;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: 50px;
}

.sidebar a ,h1{
    display: block;
    color: black;
    padding: 25px;
    text-decoration: none;
}

.button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 50px;
    margin-left: 40px;
    font-size: 20px;
}
p{
    margin-left: 300px;
    font-size: 20px;
    
    
}

h2{
    font-weight: bolder;
    font-size: 100px;
    margin-top: 100px;
    margin-left: 300px;
    
}


* {
    box-sizing: border-box;
  }
  
  
  /* Float four columns side by side */
  .column {
    float:left;
    width: 15%;
    padding: 0 15px;
    padding-left: 280px;
    margin-top: 50px;
    
    
  }
   
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    text-align: center;
    background-color: #f1f1f1;
    
  }

  img{
      border-radius: 50%;
      width: 120px;
      height: 120px;

  }

     @media screen and (max-width: 700px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    
   
  } 
  

 
  